body{
  background-color: #111;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}
body {
    overflow:hidden
}

.button{
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  background-color: #333;
  color:white;
  height:auto;
  width:150px;
  margin: 0px;
  text-decoration: none;
  padding: 5px 5px;
  float: left;
    border: 1px solid black;
    text-align: center;
    display: inline;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}
.lightxlab{
  width: 100%;
  height: 100%;
}
canvas{
  /*width: 100%;
  height: 100%;*/
}
#simulationArea{
  background-color: #111;
}
.button:hover{
  background-color: #fff;
  color:black;
}

.toolbar{
  /*font-family: Arial, Helvetica, sans-serif ;*/
  /*font-size: 1.1em ;*/
  width: fit-content ;

  margin: auto;
/*margin-top:15px;*/
  text-align: center;
  /*padding: 10px ;*/
  /*background-color: white ;*/
  /*color: black ;*/
  border: 1px solid black ;
}
